.itemsContainer {
  border: 1px solid #bbb;
  /* border-radius: 15px; */
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  width: 95%;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  align-items: center;
  flex-grow: 1;
}

.photoInShoppingCart {
  width: 60px;
}

.bookNameShoppingCart {
  width: 50%;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.shippingCartTitle {
  font-family: "Roboto-M", sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #eee;
  padding: 10px;
}

.goToPayButton {
  font-family: "Roboto-M", sans-serif;
  color: white;
  background-color: #fe7f00;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  transition: ease-in 0.13s;
  cursor: pointer;
  width: 200px;
  align-self: self-end;
  margin: 20px;
}

.goToPayButton:hover {
  background-color: #ffe5b4;
}

.totalCost {
  font-family: "Roboto-M", sans-serif;
  margin-right: 20px;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.totalCostValue {
  font-family: "Roboto-M", sans-serif;
  font-size: 26px;
}

.loginMessage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: "Roboto-M", sans-serif;
  font-size: 20px;
  color: crimson;
}

.totalCostContainer {
  display: flex;
  align-self: flex-end;
  margin-right: 40px;
}

button[disabled] {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}

.deleteItem {
  width: 40px;
  height: 40px;
  border: solid 1px #aaa;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in 0.13s;
}

.deleteItem:hover {
  background-color: #eee;
}

.buttonContainer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.totalCostInShoppingCart {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto-M", sans-serif;
  width: 20%;
}

.counterInShoppingCart {
  font-family: "Roboto-M", sans-serif;
  font-size: 18px;
  color: rgb(228, 105, 105);
}

.costinShoppinCart {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
  max-width: 800px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #444;
}

.close {
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  margin-top: 20px;
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
}

.btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #0074d9;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  width: 100vw;
  height: 1000%;
  text-decoration: none;
  color: #eee;
  cursor: pointer;
}

.btn:hover {
  background-color: #0063a8;
}

.registerButton {
  color: #0069d9;
  cursor: pointer;
  font-size: 10px;
  margin-top: 10px;
}
